<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Photocol</title>
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="TouchLay GmbH">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="icon" href="/img/favicon.ico?v=1" type="image/x-icon">

  <link rel="stylesheet" href="./css/material.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
      <div id="home" class="hero-header">
        <div class="hero-header-background">
          <div class="container">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--hide-desktop">
                    <div class="mdl-grid content-container">
                      <div class="mdl-cell mdl-cell--5-col mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--1-offset-tablet">
                        <img src="/img/logo.png" />
                      </div>
                      <div class="mdl-cell mdl-cell--6-col mdl-cell--5-col-tablet mdl-cell--8-col-phone">
                        <h1>Photocol</h1>
                      </div>
                    </div>
                    <p>Create stunning photo protocols in no time!</p>
                </div>
                <div class="mdl-cell mdl-cell--5-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <img src="/img/iphone.png" />
                </div>
                <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-cell--hide-phone mdl-cell--hide-tablet">
                    <div class="mdl-grid content-container">
                      <div class="mdl-cell mdl-cell--5-col mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--1-offset-tablet">
                        <img src="/img/logo.png" />
                      </div>
                      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--8-col-phone">
                        <h1>Photocol</h1>
                      </div>
                    </div>
                    <p>Create stunning photo protocols in no time!</p>
                </div>
            </div>
          </div>
        </div>
        <!-- Begin MailChimp Signup Form -->
        <div class="container" style="margin-top: 1em;">
          <div id="mc_embed_signup">
          <form action="//photocol.us15.list-manage.com/subscribe/post?u=4671e62f304000bfab2c17589&amp;id=9d581c7941" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          	<p style="font-size: 1.5em; font-weight: 200;">Apps for Android and iOS are coming soon!<br />Enter your E-Mail address to get notified when the apps are available:</p>
          	<input class="mdl-textfield__input" style="width: 250px; margin-top: 1em; display: inline-block; margin-right: 10px; border-color: rgba(255,255,255,.4);" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4671e62f304000bfab2c17589_9d581c7941" tabindex="-1" value=""></div>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="newsletter-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              </div>
          </form>
          </div>
        </div>

        <!--End mc_embed_signup-->

      </div>

      <div class="feature-section">
        <div class="container">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--12-col-tablet">
              <div class="text-left">
                <h2>Smart Layout</h2>
                <p>Simply select the images you would like to add to your presentation, add text where necessary and let our smart layout take care of arranging elements in the best and most beautiful way possible.</p>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--12-col-tablet">
              <img src="/img/feature-layout.jpg" />
            </div>
          </div>
        </div>
      </div>


      <div class="feature-section">
        <div class="container">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--middle mdl-cell--12-col mdl-cell--hide-desktop">
              <div class="text-right">
                <h2>Capture Flipcharts</h2>
                <p>Remember the last time you had to manually edit a photo of a flipchart? Those times are over! Photocol automatically crops flipchart photos for you.</p>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--12-col-tablet">
              <img src="/img/feature-flipchart.jpg" />
            </div>
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--hide-tablet mdl-cell--hide-phone">
              <div class="text-right">
                <h2>Capture Flipcharts</h2>
                <p>Remember the last time you had to manually edit a photo of a flipchart? Those times are over! Photocol automatically crops flipchart photos for you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="feature-section">
        <div class="container">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--12-col-tablet">
              <div class="text-left">
                <h2>Save Time</h2>
                <p>Instead of having to use multiple applications to create your photo protocol, Photocol gives you all the tools you need.</p>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--12-col-tablet">
              <img src="/img/feature-time.png" />
            </div>
          </div>
        </div>
      </div>


      <div class="feature-section">
        <div class="container">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--middle mdl-cell--12-col mdl-cell--hide-desktop">
              <div class="text-right">
                <h2>Export and Share</h2>
                <p>Simply export your Photocol as a PDF or Link and send it via E-Mail or Messenger.</p>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--12-col-tablet">
              <img src="/img/feature-share.png" />
            </div>
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--hide-tablet mdl-cell--hide-phone">
              <div class="text-right">
                <h2>Export and Share</h2>
                <p>Simply export your Photocol as a PDF or Link and send it via E-Mail or Messenger.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="feature-section">
        <div class="container">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--12-col-tablet">
              <div class="text-left">
                <h2>Styling</h2>
                <p>Customize your Photocol by using your own colors and adding a company logo.</p>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--middle mdl-cell--6-col mdl-cell--12-col-tablet">
              <img src="/img/feature-styling.png" />
            </div>
          </div>
        </div>
      </div>

      <div id="team" class="gray-bg">
        <div class="container">
          <h3>
            If you have suggestions, ideas, or want to test photocol<br/>
            as soon as possible, let us know at  <a href="mailto:hello@photocol.io">hello@photocol.io</a>.
          </h3>
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
              <img src="/img/team-simon.png" />
              <p>Simon Schelkshorn</p>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
              <img src="/img/team-phillip.png" />
              <p>Philipp Sells</p>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
              <img src="/img/team-georg.png" />
              <p>Georg Schelkshorn</p>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
              <img src="/img/team-daniel.png" />
              <p>Daniel Bugl</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Begin MailChimp Signup Form -->
      <div style="background: #4A90E2; color: #fff; text-align: center; padding: 4em 0 4em;">
        <div class="container" style="margin-top: 1em;">
          <div id="mc_embed_signup">
          <form action="//photocol.us15.list-manage.com/subscribe/post?u=4671e62f304000bfab2c17589&amp;id=9d581c7941" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <p style="font-size: 1.5em; font-weight: 200;">Apps for Android and iOS are coming soon!<br />Enter your E-Mail address to get notified when the apps are available:</p>
            <input class="mdl-textfield__input" style="width: 250px; margin-top: 1em; display: inline-block; margin-right: 10px; border-color: rgba(255,255,255,.4);" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4671e62f304000bfab2c17589_9d581c7941" tabindex="-1" value=""></div>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="newsletter-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              </div>
          </form>
          </div>
        </div>
      </div>

      <!--End mc_embed_signup-->

      <div id="kontakt" class="contact-section">
        <div class="container">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
            </div>
          </div>
        </div>
      </div>

      <footer class="mdl-mini-footer">
        <div class="container">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo" style="text-align: center;">&copy; TouchLay GmbH<br /><a href="https://touchlay.com/en/imprint.html" target="_blank">Imprint</a></div>
          </div>
        </div>
      </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "rgba(100, 100, 100, .9)"
      },
      "button": {
        "background": "#ea8110",
        "text": "#ffffff"
      },
    },
  })});
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-104418453-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script src="./js/material.min.js"></script>
</body>
</html>
